<!-- https://jordanbrennan.hashnode.dev/single-file-web-componentsmaybe -->
<template>
  <div class="class-one">
    Hello<span class="class-two">World</span> header_3
  </div>

  <style>
    .class-one {
      font-size: 2rem;
      color: lime;
    }
    .class-two {
      font-size: 4rem;
      color: yellow;
    }
  </style>
</template>

<script>
  let template = document.querySelector("template");
  console.log("template >", template);

  class MyComponent extends HTMLElement {
    constructor() {
      super();

      this.attachShadow({ mode: "open" }).appendChild(
        template.content.cloneNode(true)
      );
    }
  }
  customElements.define("x-header3", MyComponent);
</script>
