<template>
  <button id="filters-btn">Filters</button>

  <dialog class="filters-modal">
    <button class="close-btn">Close</button>
    <p id="log">...</p>

    <form id="filters-form">
      <div class="fields">
        <!-- column 1 -->
        <div>
          <fieldset class="observation-status">
            <legend>Observation Status</legend>
            <div class="form-group">
              <label for="verifiable">Verifiable</label>
              <select id="verifiable" name="verifiable">
                <option></option>
                <option value="true" selected>True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="form-group">
              <label for="captive">Captive</label>
              <select id="captive" name="captive">
                <option></option>
                <option value="true">Captive</option>
                <option value="false">Wild</option>
              </select>
            </div>

            <div class="form-group">
              <label for="quality_grade">Quality Grade</label>
              <select id="quality_grade" name="quality_grade">
                <option></option>
                <option value="research">Research Grade</option>
                <option value="needs_id">Needs Id</option>
                <option value="casual">Casual</option>
              </select>
            </div>

            <div class="form-group">
              <label for="popular">Popular</label>
              <select id="popular" name="popular">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="form-group">
              <label for="identified">Identified</label>
              <select id="identified" name="identified">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
          </fieldset>

          <fieldset class="media">
            <legend>Media</legend>
            <div class="form-group">
              <label for="sounds">Has Sounds</label>
              <select id="sounds" name="sounds">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="form-group">
              <label for="photos">Has Photos</label>
              <select id="photos" name="photos">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
          </fieldset>

          <fieldset class="licensing">
            <legend>Licensing</legend>
            <div class="form-group multiselect">
              <label for="license">License</label>
              <select id="license" name="license" multiple></select>
            </div>
            <div class="form-group multiselect">
              <label for="photo_license">Photo License</label>
              <select id="photo_license" name="photo_license" multiple></select>
            </div>
            <div class="form-group multiselect">
              <label for="sound_license">Sound License</label>
              <select id="sound_license" name="sound_license" multiple></select>
            </div>
          </fieldset>
        </div>
        <!-- column 2 -->
        <div>
          <fieldset class="date-observed">
            <legend>Date Observed</legend>
            <div class="form-group">
              <input type="radio" name="date_observed" id="any_date" />
              <label for="any_date">Any</label>
            </div>
            <div class="form-group">
              <input type="radio" name="date_observed" id="exact_date" />
              <label for="exact_date">Exact Date</label>
              <input type="date" name="on" id="on" disabled />
            </div>
            <div class="form-group">
              <input type="radio" name="date_observed" id="range_date" />
              <label for="range_date">Range</label>

              <div class="form-group">
                <label for="d1">Start Date</label>
                <input type="date" name="d1" id="d1" disabled />
              </div>
              <div class="form-group">
                <label for="d2">End Date</label>
                <input type="date" name="d2" id="d2" disabled />
              </div>
            </div>
            <div class="form-group multiselect">
              <input type="radio" name="date_observed" id="months_date" />
              <label for="months_date">Months</label>
              <select name="month" id="month" multiple disabled>
                <option value="">Select months</option>
                <option value="1">Janurary</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>

            <div class="form-group multiselect">
              <input type="radio" name="date_observed" id="years_date" />
              <label for="years_date">Years</label>
              <select name="year" id="year" multiple disabled></select>
            </div>
          </fieldset>
        </div>
        <!-- column 3 -->
        <div>
          <fieldset class="iconic_taxa">
            <legend>Categories</legend>
            <div class="form-group">
              <input
                type="checkbox"
                id="Aves"
                value="Aves"
                name="iconic_taxa"
              />
              <label for="Aves">Aves</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Amphibia"
                value="Amphibia"
                name="iconic_taxa"
              />
              <label for="Amphibia">Amphibia</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Reptilia"
                value="Reptilia"
                name="iconic_taxa"
              />
              <label for="Reptilia">Reptilia</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Mammalia"
                value="Mammalia"
                name="iconic_taxa"
              />
              <label for="Mammalia">Mammalia</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Actinopterygii"
                value="Actinopterygii"
                name="iconic_taxa"
              />
              <label for="Actinopterygii">Actinopterygii</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Mollusca"
                value="Mollusca"
                name="iconic_taxa"
              />
              <label for="Mollusca">Mollusca</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Arachnida"
                value="Arachnida"
                name="iconic_taxa"
              />
              <label for="Arachnida">Arachnida</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Insecta"
                value="Insecta"
                name="iconic_taxa"
              />
              <label for="Insecta">Insecta</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Plantae"
                value="Plantae"
                name="iconic_taxa"
              />
              <label for="Plantae">Plantae</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Fungi"
                value="Fungi"
                name="iconic_taxa"
              />
              <label for="Fungi">Fungi</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="Protozoa"
                value="Protozoa"
                name="iconic_taxa"
              />
              <label for="Protozoa">Protozoa</label>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="unknown"
                value="unknown"
                name="iconic_taxa"
              />
              <label for="unknown">unknown</label>
            </div>
          </fieldset>
          <fieldset class="rank">
            <legend>Rank</legend>
            <div class="form-group">
              <label for="hrank">High Rank</label>
              <select id="hrank" name="hrank"></select>
            </div>
            <div class="form-group">
              <label for="lrank">Low Rank</label>
              <select id="lrank" name="lrank"></select>
            </div>
          </fieldset>
          <fieldset class="species-status">
            <legend>Species Status</legend>
            <div class="form-group">
              <label for="threatened">Threatened</label>
              <select id="threatened" name="threatened">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="form-group">
              <label for="introduced">Introduced</label>
              <select id="introduced" name="introduced">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="form-group">
              <label for="native">Native</label>
              <select id="native" name="native">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="form-group">
              <label for="endemic">Endemic</label>
              <select id="endemic" name="endemic">
                <option></option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="controls">
        <button type="submit">Update Search</button>
        <button type="reset">Reset</button>
      </div>
    </form>
  </dialog>
</template>
