VITE_DEBUG=true # display json of app store
VITE_LOGGER=false
VITE_LOGGER_URL=false # calls to iNat API
VITE_LOGGER_FILTERS=false # log message for ObservationFilers
VITE_CACHE=false  # use hardcoded api data during development
VITE_LOGGER_MAP=false # log names of leaflet map layers
VITE_LOGGER_TIME=false # log benchmark times
VITE_LOGGER_STORE=false # log store changes
VITE_LOGGER_EVENT=true # log event listeners
VITE_LOGGER_RENDER=false # log render component
