<template>
  <header>
    <div class="wrapper-fullwidth">
      <nav>
        <span>iNaturalist Explorer</span>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <style>
    header {
      padding: 1rem;
    }

    /* p {
      font-size: 30px;
    } */

    nav {
      display: flex;
      gap: 20px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 10px;
      margin: 0;
      padding: 0;
    }

    nav a {
      text-decoration: none;
    }

    nav a:hover,
    nav a:focus {
      text-decoration: underline;
    }
  </style>
</template>
