<template>
  <div id="observations-header">
    <nav id="observations-nav">
      <h1>Observations</h1>
      <ul>
        <li id="observations">
          <span class="observations-count">&nbsp;</span
          ><span>Observations</span>
        </li>
        <li id="species">
          <span class="species-count">&nbsp;</span><span>Species</span>
        </li>
        <li id="identifiers">
          <span class="identifiers-count">&nbsp;</span><span>Identifiers</span>
        </li>
        <li id="observers">
          <span class="observers-count">&nbsp;</span><span>Observers</span>
        </li>
      </ul>
    </nav>
  </div>
</template>
