.leaflet-control-layers-overlays label:nth-child(4n) {
  border-bottom: 1px solid var(--clr-gray-400);
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
}

.leaflet-control-layers-overlays label:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.leaflet-control-refresh-map {
  background-color: white;
  padding: 0.25rem 0.4rem;
  position: absolute;
  /* top: 100; */
  left: 40px;
  text-wrap: nowrap;
}
