@layer reset, base, layout, components, views, search-menu, filtersModal;

@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd,
  ul,
  li {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  /* p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
} */

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  10. Create a root stacking context
*/
  /* #root, #__next {
  isolation: isolate;
} */
  /* ================ */

  table {
    border-spacing: 0;
  }
}

@layer base {
  :root {
    /* colors */
    --clr-white: #ffffff;
    --clr-black: #333;
    --clr-gray-200: hsl(0, 0%, 96%);
    --clr-gray-300: hsl(0, 0%, 93%);
    --clr-gray-400: hsl(0, 0%, 87%);
    --clr-gray-500: hsl(0, 0%, 80%);
    --clr-gray-600: hsl(0, 0%, 70%);
    --clr-gray-700: hsl(0, 0%, 60%);
    --clr-gray-800: hsl(0, 0%, 50%);
    --clr-gray-900: hsl(0, 0%, 40%);

    --clr-orange-300: hsl(25, 45%, 77%);
    --clr-orange-400: hsl(25, 45%, 62%);
    --clr-orange-500: hsl(25, 51%, 43%);
    --clr-green-200: hsl(143, 19%, 89%);
    --clr-green-300: hsl(143, 19%, 69%);
    --clr-green-400: hsl(143, 19%, 49%);
    --clr-green-500: hsl(143, 38%, 37%);

    --clr-primary: var(--clr-gray-400);
    --clr-secondary: #0d6efd;
    --clr-success: #198754;
    --clr-danger: #dc3545;
    --clr-warning: #ffc107;

    --clr-iNat-green: #86a91c;
    --clr-iNat-orange: #f16f3a;
    --clr-iNat-pink: #ff1493;
    --clr-iNat-dark-gray: #565656;

    --clr-overlay-dark-400: rgba(0, 0, 0, 0.4);
    --clr-overlay-dark-500: rgba(0, 0, 0, 0.5);
    --clr-overlay-dark-600: rgba(0, 0, 0, 0.6);
    --clr-overlay-dark-700: rgba(0, 0, 0, 0.7);
    --clr-overlay-dark-800: rgba(0, 0, 0, 0.8);
    --clr-overlay-dark-900: rgba(0, 0, 0, 0.9);

    --clr-overlay-light-400: rgba(255, 255, 255, 0.4);
    --clr-overlay-light-500: rgba(255, 255, 255, 0.5);
    --clr-overlay-light-600: rgba(255, 255, 255, 0.6);
    --clr-overlay-light-700: rgba(255, 255, 255, 0.7);
    --clr-overlay-light-800: rgba(255, 255, 255, 0.8);
    --clr-overlay-light-900: rgba(255, 255, 255, 0.9);

    /* typography */
    --ff-heading: sans-serif;
    --ff-body: sans-serif;

    --fs-300: 0.875rem;
    /* 400 is body font size */
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    --text-main: var(--clr-black);
    --background-main: var(--clr-white);
    --brand-main: var(--clr-green-500);
    --accent-main: var(--clr-orange-500);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --fw-bold: 550;
    --fw-extra-bold: 900;

    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;

    --border-grey: 1px solid var(--clr-gray-300);

    /* @media (prefers-color-scheme: light) {
      --text-main: var(--clr-brown-700);
      --text-high-contrast: var(--clr-brown-900);

      --background-extra-light: var(--clr-brown-100);
      --background-light: var(--clr-brown-200);
      --background-main: var(--clr-brown-100);
      --background-dark: var(--clr-brown-400);
      --background-extra-dark: var(--clr-brown-500);

      --accent-light: var(--clr-green-600);
      --accent-main: var(--clr-green-500);
      --background-accent-dark: var(--clr-green-300);
    } */
  }

  html {
    font-family: var(--ff-body);
    /* for jump anchors,  */
    scroll-padding: 3rem;

    /* only apply these rules if person has not specified a preference for motion */
    @media (prefers-reduced-motion: no-preference) {
      /* when there is an anchor tag in the middle of page, scroll to element  */
      scroll-behavior: smooth;
    }
  }

  body {
    font-size: var(--font-size-regular);
    color: var(--text-main);
    background-color: var(--background-main);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    color: var(--text-main);
  }

  a {
    color: var(--brand-main);
  }

  /* browsers now use focus-visible instead of focus */
  a:hover,
  a:focus-visible {
    color: var(--accent-main);
  }

  .form-group {
    margin: 1rem 0;
  }

  ::backdrop {
    background-color: var(--clr-black);
    opacity: 0.5;
  }

  dialog {
    border: 1px solid var(--clr-black);
  }

  .table {
    width: 100%;

    th {
      text-align: left;
    }

    td {
      padding: 0.5rem 0.5rem;
    }

    tr:nth-child(even) {
      background-color: var(--clr-gray-200);
    }
  }

  button {
    border: 1px solid var(--clr-gray-700);
    cursor: pointer;
    background-color: var(--clr-white);
    border-radius: var(--border-radius-1);
    padding: 0.25rem 0.5rem;

    &:hover {
      background-color: var(--clr-gray-400);
    }
  }

  .btn-primary {
    background-color: var(--clr-primary);

    &:hover {
      background-color: var(--clr-white);
    }
  }

  .btn-danger {
    border: 1px solid var(--clr-danger);
    background-color: var(--clr-danger);
    color: var(--clr-white);

    &:hover {
      background-color: var(--clr-white);
      color: var(--text-main);
    }
  }
}

@layer layout {
  .flow > * + * {
    margin-top: var(--flow-space, 1em);
  }

  #home .two-columns {
    display: grid;
    grid-template-columns: 250px 1fr;

    @media (max-width: 750px) {
      grid-template-columns: 1fr;
    }
  }

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  /* if cards at 275px can't fill a row, stretch the cards to fill the row  */
  .grid-auto-fit {
    --autofit-min-col: 275px;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(var(--autofit-min-col), 100%), 1fr)
    );
    /* all rows should take the height of the tallest content */
    /* grid-auto-rows: 1fr; */
  }

  /* if cards at 275px can't fill a row, leave empty space at end of row  */
  .grid-auto-fill {
    --autofill-min-col: 275px;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(var(--autofill-min-col), 100%), 1fr)
    );
    /* all rows should take the height of the tallest content */
    /* grid-auto-rows: 1fr; */
  }
}

@layer components {
  .popover__content {
    position: absolute;
    visibility: hidden;
  }
  .popover__wrapper:hover .popover__content {
    visibility: visible;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #f6d4c9;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    left: calc(50% - 120px / 2);
    top: calc(50% - 120px / 2);
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #site-header {
    padding: 1rem;
  }

  #site-nav {
    display: flex;
    gap: 20px;

    ul {
      list-style: none;
      display: flex;
      gap: 10px;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  #observations-header {
    padding: 0 1rem;
    background-color: var(--clr-iNat-dark-gray);
    color: var(--clr-white);

    h1 {
      color: var(--clr-white);
    }
  }

  #observations-nav {
    background-color: var(--clr-iNat-dark-gray);
    display: flex;
    align-items: center;

    h1 {
      width: 300px;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      justify-content: center;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .currentView {
      background-color: var(--clr-iNat-green);
    }

    .observations-count,
    .species-count,
    .identifiers-count,
    .observers-count {
      font-weight: var(--fw-bold);
    }
  }

  #observations-subview-nav {
    margin-top: 2rem;

    ul {
      display: flex;
      margin: 0;

      li {
        list-style: none;
        border: var(--border-grey);
        padding: 0.25rem 0.5rem;

        a {
          color: var(--text-main);
          text-decoration: none;
        }
      }

      .current-subview {
        background-color: var(--clr-gray-300);
        font-weight: var(--fw-bold);
      }
    }
  }

  #display-json {
    margin-top: 1rem;

    #display-json-wrapper {
      font-size: var(--font-size-sm);
      z-index: 1000;
      position: absolute;
      padding: 1rem;
      background-color: var(--clr-overlay-dark-700);
      color: var(--clr-white);
    }
    .hide {
      display: none;
    }
  }

  .pagination {
    display: flex;
    margin: 1rem 0;

    li {
      list-style: none;
      border: var(--border-grey);
      padding: 0.25rem 0.5rem;
      cursor: pointer;

      &.disable {
        color: var(--clr-gray-600);
        cursor: text;
      }

      &.current-page {
        background-color: var(--clr-gray-300);
        font-weight: var(--fw-bold);
      }
    }
  }

  .audio-icon {
    --audio-color: var(--clr-overlay-dark-700);

    path:nth-of-type(1) {
      fill: var(--audio-color) !important;
      stroke: var(--audio-color) !important;
      stroke-width: 0px !important;
    }

    path:nth-of-type(2) {
      stroke: var(--audio-color) !important;
    }
  }
}

@layer views {
  #view-container {
    --view-container-margins: 1.5rem 1rem 1.5rem 0;

    width: 100%;

    #map {
      height: 80vh;
    }
  }

  .identifiers-table-container,
  .observers-table-container,
  .species-list-container,
  .observations-list-container {
    margin: var(--view-container-margins);
  }

  .species-grid,
  .observers-table,
  .identifiers-table,
  .observations-table,
  .observations-grid {
    .title {
      font-weight: var(--fw-bold);
      line-height: 1.25;
      a {
        color: var(--text-main);
        text-decoration: none;
      }
      a:hover {
        color: var(--text-main);
        text-decoration: underline;
      }
    }

    .subtitle {
      font-style: italic;
      line-height: 1.25;
      a {
        color: var(--text-main);
        text-decoration: none;
      }
      a:hover {
        color: var(--text-main);
        text-decoration: underline;
      }
    }

    .avatar-name {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        color: var(--brand-main);
      }
    }

    .person-icon,
    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 18px;
    }

    .person-icon {
      background-color: var(--clr-gray-400);
      g {
        transform: translateY(8px);
      }
    }

    .research-grade {
      margin-top: 0.5rem;

      .research-grade-badge {
        background-color: var(--clr-iNat-green);
        color: var(--clr-white);
        padding: 3px;
        font-size: var(--font-size-sm);
      }
    }

    .metadata-counts {
      /* add as much space to margin top as possible so it is at bottom of card */
      margin-block-start: auto;
      white-space: nowrap;
      display: flex;
      gap: 0.75rem;
    }

    .speech-icon {
      width: 1rem;
      height: 1rem;
      display: inline-block;
      transform: translateY(2px);
      margin-right: 2px;
    }

    .photos-count {
      bottom: 0;
      position: absolute;
      background-color: var(--clr-overlay-dark-600);
      color: #ffffff;
      font-size: var(--font-size-sm);
      width: 1.6rem;
      height: 1.6rem;
      padding-top: 0.3rem;
      line-height: 1;
      text-align: center;
    }
  }

  .species-grid.grid-auto-fill {
    --autofill-min-col: 200px;
  }

  .species-grid {
    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      border: 1px solid var(--clr-gray-400);

      .media {
        position: relative;
        border-bottom: 1px solid var(--clr-gray-400);

        img {
          object-fit: cover;
          width: 100%;
          height: 200px;
        }
        img:hover {
          opacity: 0.7;
        }
      }

      .licensing {
        background-color: var(--clr-overlay-dark-400);
        color: var(--clr-white);
        position: absolute;
        bottom: 0;
        width: 1.6rem;
        height: 1.6rem;
        padding-top: 0.3rem;
        line-height: 1;
        text-align: center;
      }

      .attribution {
        background-color: var(--clr-overlay-dark-700);
        color: var(--clr-white);
        bottom: 1.5rem;
        padding: 0.25rem;
      }

      .details {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.75rem;
        height: 100%;
      }

      .observations-count {
        /* add as much space to margin top as possible so it is at bottom of card */
        margin-block-start: auto;
      }

      .establishment-means {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--clr-white);
        width: 1.6rem;
        height: 1.6rem;
        padding-top: 0.3rem;
        line-height: 1;
        text-align: center;
      }

      .establishment-means.native {
        background-color: var(--clr-iNat-green);
      }
      .establishment-means.introduced {
        background-color: var(--clr-iNat-pink);
      }
    }
  }

  .observations-table {
    td.name {
      display: flex;
      flex-direction: column;
    }

    td.media {
      padding: 0;

      div.media {
        position: relative;
        width: 80px;
        height: 80px;
        background-color: var(--clr-gray-500);
      }

      div.media:not(.sound-only) {
        .audio-icon {
          --audio-color: var(--clr-overlay-light-900);
          background-color: var(--clr-overlay-dark-600);
          top: 0px;
          right: 0px;
          width: 25px;
          height: 25px;
          position: absolute;
          padding: 2px;
        }
      }
      div.media.sound-only {
        .audio-icon {
          --audio-color: var(--clr-overlay-dark-400);
          top: 10px;
          left: 10px;
          width: 60px;
          height: 60px;
          position: absolute;
        }
      }

      img {
        position: absolute;
        top: 0;
        object-fit: cover;
        width: 80px;
        height: 80px;
      }
    }

    .obscured {
      font-size: var(--font-size-heading-sm);
      margin-right: 4px;
    }

    .avatar-name {
      flex-direction: column;
    }
  }

  .observations-grid.grid-auto-fill {
    --autofill-min-col: 250px;
  }

  .observations-grid {
    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      border: 1px solid var(--clr-gray-400);
    }

    .media {
      position: relative;
      border-bottom: 1px solid var(--clr-gray-400);
      background-color: var(--clr-gray-500);

      img {
        object-fit: cover;
        width: 100%;
        height: 250px;
      }
      img:hover {
        opacity: 0.7;
      }
    }

    .media:not(.sound-only) {
      .audio-icon {
        --audio-color: var(--clr-overlay-light-900);
        background-color: var(--clr-overlay-dark-600);
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        position: absolute;
        padding: 8px;
      }
    }
    .media.sound-only {
      .audio-icon {
        --audio-color: var(--clr-overlay-dark-400);
        padding: 50px;
        width: 100%;
        height: 250px;
      }
    }

    .observed {
      flex-grow: 1;
      text-align: right;
    }
    .details {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0.75rem;
      height: 100%;
      position: relative;
    }

    .avatar-name {
      position: absolute;
      right: 15px;
      top: -35px;
    }

    .person-icon,
    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      border: 2px solid white;
    }
  }
}

@layer search-menu {
  /* force autocomplete dropdown to go on top of leaflet map */
  .sv_dropdown.is-open {
    z-index: 500 !important;
  }

  .menu {
    padding: 1rem;

    h2 {
      font-size: var(--font-size-md);
      margin: 1rem 0 0.5rem 0;
    }
  }

  .taxa-ac-option {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 5px;

    .taxon-name {
      display: grid;
    }
    .common-name {
      font-weight: var(--fw-bold);
    }
    .scientific-name {
      font-style: italic;
    }
  }

  .places-ac-option {
    .place-type {
      color: var(--clr-gray-700);
    }
  }

  ul#selected-species-list,
  ul#selected-places-list,
  ul#selected-projects-list,
  ul#selected-users-list {
    padding: 0;
    list-style: none;

    @media (max-width: 750px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    li {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1fr auto;
      padding: 0.25rem 0.5rem;
      align-items: center;
      border: 1px solid var(--clr-gray-500);
    }

    .close-button {
      padding: 0;
      font-size: var(--font-size-md);
      background-color: transparent;
      border: 0;
      &:hover {
        font-weight: var(--fw-extra-bold);
      }
    }
  }

  ul#selected-species-list {
    padding: 0;
    list-style: none;

    @media (max-width: 750px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    li {
      grid-template-columns: auto 1fr auto;
    }

    .swatch {
      display: block;
      width: 1rem;
      height: 1rem;
    }

    .data {
      display: grid;
      align-content: center;
      line-height: 1.3;
    }

    .count {
      font-size: var(--font-size-sm);
    }

    .title {
      font-weight: var(--fw-bold);
      a {
        text-decoration: none;
      }
    }

    .subtitle {
      font-style: italic;
      font-size: var(--font-size-sm);
      a {
        text-decoration: none;
      }
    }
  }

  .filters-count {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--clr-iNat-green);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: var(--clr-white);
    margin-left: 5px;
  }
}

@layer filtersModal {
  .filters-modal {
    /* z-index: 2500; */
    /* position: absolute; */
    /* top: 0; */
    /* width: calc(100% - 270px);
    margin-right: 1rem; */
    width: 95%;
    padding: 0;

    & > div {
      padding: 1rem;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      #observations-header {
        ul {
          flex-wrap: wrap;
        }

        .currentView {
          background-color: var(--clr-iNat-dark-gray);
        }
        li {
          padding: 0.5rem 0.5rem;
          flex-direction: row;
          gap: 5px;
        }

        h1 {
          display: none;
        }
      }
    }

    ol.filters-list {
      display: flex;
      gap: 0.5rem;
      /* margin: 0; */
      padding: 0;
      flex-wrap: wrap;

      li {
        list-style: none;
        background-color: var(--clr-gray-400);
        border-radius: 1rem;
        padding: 0.125rem 0.5rem;
      }
    }
  }

  #filters-form {
    .fields {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .form-group {
      margin: 0.5rem 0;
    }

    fieldset {
      border: 1px solid var(--clr-gray-400);
      margin: 0.5rem 0;
    }

    .form-group.multiselect {
      display: flex;
      align-items: center;
    }

    label {
      margin-right: 0.5rem;
    }
  }
}
